## Requirements
astropy
healpy
astroquery
aws-cdk-lib
boto3
botocore
cdk-ecr-deployment
constructs
crds
h5netcdf
ipdb
ipykernel
jupyterlab
matplotlib
moto
nbdime
numpy
pandas
Pillow
plotly
psutil
pyjpegls
pytest
pytest-mock
pyyaml
requests
s3fs
scikit-image
scikit-learn
scipy
specutils
tqdm
